<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- locals.title?title:'Currency Converter App' -%></title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <!-- boxicons css -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/dashboard.css">

</head>
<body>

<!-- navbar -->

<header class="header">
    <nav class="navbar">
            <a href="/dashboard" class="nav_logo">Dashboard</a>
            <ul class="nav_items">
                <li class="nav_item">
                    <a href="/foreign_exchange" class="nav_link"><i class='bx bx-dollar-circle'></i> Foreign Exchange</a>
                    <a href="/currency_converter" class="nav_link"><i class='bx bx-calculator' ></i> Currency Converter</a>
                </li>
            </ul>
            <a href="/logout">
                <form action="/logout" method="POST">
                    <button action="/logout" method="POST" class="btn btn-danger">Logout</button>
                </form>
            </a>
    </nav>
</header>

<!-- main dashboard -->

<section class="home">
    <div class="main-dashboard">
        <div class="wrapper">
            <h6>Welcome! <%= locals.user?user:'No email found'  %></h6>
        </div>
    </div>
</section>

    <!-- Script With Array of Supported Country Codes -->
    <script src="/static/currency-codes.js"></script>
    <!-- Script With API Key -->
    <script src="/static/api-key.js"></script>
    <!-- Script -->
    <script src="/static/api.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>