@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

i{
    font-size: 15px;
}

.header{
    position: fixed;
    height: 80px;
    width: 100%;
    /* background: grey; */
    z-index: 100;
    padding: 0 20px;
}

.navbar{
    max-width: 1100px;
    width: 100%;
    /* background: green; */
    margin: 0 auto;
}

.navbar .nav_item{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
}

.nav_logo{
    font-size: 25px;
    color: #fff;
}

.nav_logo:hover{
    color: red;
}

.nav_link{
    margin-top: 10px;
    color: #fff;
}

.nav_link:hover{
    color: red;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('/static/assets/background.jpg');
    background-size: cover;
    background-position: center;
}

.main-dashboard{
    position: absolute;
    top: 40%;
    left: 40%;
    padding: 60px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #ffffffb6;
}

.wrapper{
    text-align: center;
    width: 250px;
    /* background-color: red; */
}
